$white: #fff;
$black: #000;
$primary: #044982;
$yellow: #F4C900;
$light-blue: #54A9EB;
$gray-opacity-5: rgba(155, 162, 171, .5);
$gray: #9BA2AB;
$gray-core: #DFDFDF;
$low-gray: #667593;
$primary-50: rgba(4, 73, 130, 0.5);
$glass-white: rgba(255, 255, 255, 0.5);
$box-shadow: rgba(0, 0, 0, 0.12);

